.MuiAvatar-colorDefault {
  border-radius: 0px !important;
  width: 6em !important;
  height: 3em !important;
  margin-right: 0.5em !important;
}
.MuiBox-root-7 {
  margin-top: 1em;
  padding: 0px 0px 0px 0px !important;
}
.MuiBox-root-8 {
  padding: 0px 0px 0px 0px !important;
}

#contain {
  position: relative;
}
.listitems {
  min-height: 65.5vh;
  padding-bottom: 6rem;
}

#addcard_wrapper {
  position: absolute;
  flex-wrap: wrap;
  width: 100%;
  bottom: 0;
  height: 5.5rem;
  background: rgb(255, 255, 255);
  box-shadow: rgba(125, 125, 125, 0.5) 0px 2px 8px;
}

.item-img {
  height: 56px;
  width: 56px;
  background-size: cover;
}

.buttons_style {
  font-size: 1.2rem !important;
}

.button_style {
  font-size: 1.2rem !important;
}

.icon_style {
  font-size: 1.2rem !important;
}
.MuiButtonGroup-grouped {
  min-width: 20px !important;
  width: 2em !important;
  padding: 0px !important;
}
.MuiBox-root {
  padding: 0px !important;
}

@media only screen and (max-width: 655px) {
  #addcard_wrapper {
    height: 6.5rem;
  }
  #addcard_wrapper h2 {
    font-size: 1.5rem;
  }
  #addcard_wrapper Button {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 360px) {
  #addcard_wrapper h2 {
    font-size: 1rem;
  }
}
